[dir='ltr'] {
  .side-nav {
    border-right: 1px solid #dee2e6;
    border-left: none;
  }
  .main-content {
    margin-left: 260px;
    margin-right: 0;
  }
  .icon-arrow {
    transform: none;
  }
} 