<div class="app-container" [class.sidenav-collapsed]="sidenavIsCollapsed$ | async" [dir]="direction$ | async">
  <app-sidenav></app-sidenav>
  <app-header [direction$]="direction$"></app-header>

  <main class="main-content" [ngStyle]="(direction$ | async) === 'rtl' ? {'margin-right': (sidenavIsCollapsed$ | async) ? '62px' : '240px', 'margin-left': ''} : {'margin-left': (sidenavIsCollapsed$ | async) ? '62px' : '240px', 'margin-right': ''}">

    <router-outlet></router-outlet>
  </main>
  <app-footer [direction$]="direction$"></app-footer>
</div>