<header class="header">
  <div class="header-left">
    <div class="company-badge">C</div>
    <span class="company-name">Company Name 1</span>
    <span class="dropdown-icon">&#9660;</span>
    <span class="reports-link">Reports</span>
  </div>
  <div class="header-right">
    <span class="user-name">John Doe</span>
    <img class="user-avatar" src="https://randomuser.me/api/portraits/women/44.jpg" alt="User Avatar" />
    <span class="user-dropdown">&#9660;</span>
    <span class="logout-icon">&#x1F6AA;</span>
  </div>
</header> 