<header class="header">
  <div class="header-left">
    <app-company-selector></app-company-selector>
    <span class="dropdown-icon">&#9660;</span>
    <span class="reports-link">{{ 'header.reports' | translate }}</span>
  </div>
  <div class="header-right">
    <app-users-list [users]="users" [selectedUserId]="selectedUserId" (userSelected)="onUserSelected($event)"></app-users-list>
    <app-language-switcher></app-language-switcher>
    <span class="logout-icon">
      <img src="assets/svg/logout.svg" alt="Logout" width="24" height="24" />
    </span>
  </div>
</header> 