<div class="company-selector">
  <div class="selected-company" (click)="toggleDropdown()">
    <span class="badge">{{ selectedCompany.badge }}</span>
    <span class="name">{{ selectedCompany.name | translate }}</span>
    <span class="arrow">&#9660;</span>
  </div>
  <div class="dropdown" *ngIf="isOpen">
    <div
      class="company-option"
      *ngFor="let company of companies"
      [class.selected]="company.selected"
      (click)="selectCompany(company)"
    >
      <span class="badge">{{ company.badge }}</span>
      <span class="name">{{ company.name | translate }}</span>
      <span class="check" *ngIf="company.selected">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M2 8L6 12L14 4" stroke="#E7AC28" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </div>
    <div class="divider"></div>
    <a class="company-list-link" href="#">{{ 'company.list' | translate }}</a>
  </div>
</div> 